<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "panda-logo-name.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <%= link_to  "My Bots", bots_path, class: "navbar-wagon-item navbar-wagon-link"  %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if user_signed_in? && current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar-large dropdown-toggle", id: "nvb-menu", 'data-toggle' => "dropdown"  %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.admin? %>
                <%= link_to rails_admin_path do %>
                  <i class="fa fa-flag"></i> <%= t(".profile", default: "Admin") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to bots_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "My Bots") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>



    <% else %>

      <!-- Login text link -->
      <%= link_to "Sign up / Login ",(omniauth_authorize_path('user', 'facebook')), class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
          <% if user_signed_in? && current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class:"avatar-large dropdown-toggle", id: "nvb-menu", 'data-toggle' => "dropdown"  %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.admin? %>
                <%= link_to rails_admin_path do %>
                  <i class="fa fa-flag"></i> <%= t(".profile", default: "Admin") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to bots_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "My Bots") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
  </div>
</div>

