<!--**************************BACKEND RUBY*************************************-->

<!-- Extract an array [Pattern, Number of Time ]-->
<% @pattern_array = [] %>
<% @pattern_number.each do | key, value | %>
  <% if  key != nil  %>
    <% x = Pattern.find(key).trigger[0,14].capitalize%>
    <% y = value %>
  <% else %>
    <% x = "Default Pattern" %>
    <% y = value %>
  <% end %>
  <% @pattern_array  << [x,y] %>
<% end %>

<!-- Generate 2 array for graph  [Label Pattern] & [Data pattern]-->
<% @label_pattern = [] %>
<% @data_pattern = [] %>
  <% for n in (0..@pattern_array.length - 1) do %>
  <% @label_pattern << @pattern_array[n][0] %>
  <% @data_pattern << @pattern_array[n][1] %>
  <% end %>

<!-- Extract an array whith most used Patterns [Max Data Pattern] & [Max Data Pattern]-->
<% @max_pattern_data = [] %>
<% @max_pattern_label = [] %>
  <% if @pattern_array.length >= 4 %>
    <% for n in (0..3) do %>
    <% @max_pattern_data << @data_pattern.zip(@label_pattern).max(4)[n][0] %>
    <% @max_pattern_label << @data_pattern.zip(@label_pattern).max(4)[n][1] %>
    <% end %>
  <% else %>
    <% for n in (0..@pattern_array.length - 1) do %>
    <% @max_pattern_data << @data_pattern.zip(@label_pattern).max(@pattern_array.length)[n][0] %>
    <% @max_pattern_label << @data_pattern.zip(@label_pattern).max(@pattern_array.length)[n][1] %>
    <% end %>
  <% end %>

  <!--**************************FRONTEND*************************************-->


<p id="notice"><%= notice %></p>

<h3 class="text-center"><%= @bot.name %> histories </h3>


<div class="row padded">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table">
        <h3> Full Historic :  <%= @bot.histories.size %> questions</h3>
        <thead>
          <tr>
            <b>
              <th>Questions</th>
              <th>Answers</th>
              <th>Sent at</th>
              <th>Date</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @bot.histories.each do | history | %>
            <tr>
              <td><%= history.question %></td>
              <td>
                <% if history.pattern_id ==  nil %>
                <p>Default Message</p>
                <% else %>
                <p><%= history.answer[0,15] %> ...</p>
                <% end %>
              </td>
              <td><%= history.created_at.strftime("%T") %></td>
              <td><%= history.created_at.strftime("%D") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>

<!-- Generate Graph : See Script Below-->
<div class="col-md-8 col-md-offset-4">
  <canvas  id="DefaultMessageChart" width="100" height="100"></canvas>
  <canvas  id="PatternsCharts" width="100" height="100"></canvas>
</div>




<div class="row padded">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table">
        <h3> You Have   <%= @pattern_array.length %> defined patterns</h3>
        <thead>
          <tr>
            <b>
              <th>Pattern</th>
              <th>Solicitations</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @pattern_array.each do | pattern | %>
            <tr>
              <td><%= pattern[0] %></td>
              <td><%= pattern[1] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>



<!-- Generate Graph : See Script Below-->



<!--**************************BACKEND JAVA CHART*************************************-->
<% content_for :js do %>
<script>
var ctx = document.getElementById("DefaultMessageChart");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Pattern Answers", "Default Answers"],
        datasets: [{
            label: '# of Votes',
            data: [<%= @bot.histories.size - @defaultmessage %>, <%= @defaultmessage %>],
            backgroundColor: [
                "#FF6384",
                "#36A2EB"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB"
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        },
        title: {
              display: true,
              text: 'Default Answer vs Pattern Answer'
          },
    }
});

var ctx = document.getElementById("PatternsCharts");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= @max_pattern_label.to_json.html_safe %>,
        datasets: [{
            label: '# of requests',
            data: <%= @max_pattern_data %>,
            backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
              display: true,
              text: 'Most used Patterns'
          },
    }
});

</script>
<% end %>

