<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @history.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @history.answer %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
