<div class="header">
  <div class="container">
    <div class="nvb">
      <div class="nvb-brand">
        <p>logo</p>
      </div>
      <div class="nvb-menu">
      <% if current_user %>
        <%= link_to "Dasboard", bots_path, class:"rectangle rectangle-s" %>
      <% else %>
        <%= link_to "Dashboard", omniauth_authorize_path('user', 'facebook'), class:"rectangle rectangle-s"%>
      <% end %>
      </div>
    </div>
  </div>
  <div class="container" id="lead">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="header-text">
          <h1>Panda</h1>
          <h2>Create your messenger bot. Quickily. Easily.</h2>
          <h3>No coding skills required</h3>
          <% if current_user %>
              <%= link_to bots_path, class:"button button-blue-facebook" do %>
                <span class="fa fa-facebook-square fa-2x"></span>
                <p>Get Started for Free</p>
              <% end %>
            <% else %>
              <%= link_to omniauth_authorize_path('user', 'facebook'), class:"button button-blue-facebook" do %>
                <span class="fa fa-facebook-square fa-2x"></span>
                <p>Get Started for Free</p>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="header-gif hidden-xs text-center">
         <%= image_tag "image-1.gif" %>
        </div>
      </div>
    </div>
  </div>
</div>
