<%= simple_form_for(@bot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_area :name,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :street,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :city,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :shop_name,  id: 'text_area_small' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%=ENV['GOOGLE_AUTOCOMPLETE_API']%>"></script>
<% end %>
