
  <div class="row  white-background">
    <div class="col-md-9 col-md-offset-1">
      <h6>1. Create a Facebook App and Page</h6>
      <p>
        Create a new Facebook App and Page or use existing ones. Go to the App Dashboard and under Product Settings click "Add Product" and select "Messenger."
      </p>
      <p>
        https://developers.facebook.com/apps
      </p>
      <div class="tuto">
       <%= image_tag "tutorial_1.png", width: "800" %>
     </div>

     <h6>2. Setup Webhook</h6>

     <div class="tuto">
     <p>In the Webhooks section, click "Setup Webhooks."<p>
       <%= image_tag "tutorial_2.png", width: "800" %>
     </div>



      <div class="tuto">
       <%= image_tag "tutorial_3.png", width: "800" %>
       <br><br><br>
        <p>Paste this in the URL section </p> <h5>https://panda-bot.herokuapp.com/bots/<%= @bot.id %>/webhook</h5>
      <br><br><br>
      <p> Paste this in the Verify Token <h5><%= @bot.token %></h5> </p> <br>
      <p>Select message_deliveries, messages, messaging_optins, and messaging_postbacks under Subscription Fields.</p>
     </div>

     <h6> 3. Get a Page Access Token</h6>

     <p>Stick your Page Access Token below</p>

     <%= simple_form_for(@bot) do |f| %>
     <%= f.error_notification %>

     <%= f.input :page_access_token %>
     <h6>4. Subscribe the App to the Page</h6>
     <%= f.button :submit, :class => 'btn btn-primary' %>
     <% end %>



   </div>
 </div>



