<div class="row ">
  <div class="col-md-9 col-md-offset-1 guide">

    <h6>Get Ready.</h6>
    <p>First of all, if you don't already have one you have to <a href="https://www.facebook.com/pages/create/" target="blank"> Create a Facebook Page</a>.</p>
    <h6>Let's get started.</h6>
    <p>It will take 5 minutes to setup your Bot. Watch carefully our Setup Tutorial.</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/FOKeX5Fvie8" frameborder="0" allowfullscreen></iframe>

    <h6>1. Create a Facebook App</h6>

    <p>Go to <a href="https://developers.facebook.com/apps" target="blank">Facebook Developper Platform</a>
        Create a new Facebook App. Goto the App Dashboard and under Product Settings click "Add Product" and select "Messenger."
      </p>


      <div class="tuto">
       <%= image_tag "tutorial_1.png", width: "800" %>
     </div>

    <h6>2. Setup Webhook</h6>
      <div class="tuto">
        <p>In the Webhooks section, click "Setup Webhooks."<p>
        <%= image_tag "tutorial_2.png", width: "800" %>
    </div>


    <div class="tuto">
      <%= image_tag "tutorial_3.png", width: "800" %>
      <br><br><br>
      <p>Paste this in the URL section </p> <h5>https://panda-bot.herokuapp.com/bots/<%= @bot.id %>/webhook</h5>
      <br><br><br>
      <p> Paste this in the Verify Token <h5><%= @bot.token %></h5> </p>
      <p>Select message_deliveries, messages, messaging_optins, and messaging_postbacks under Subscription Fields.</p>
    </div>

   <h6>3. Subscribe the App to the Page</h6>

   <h6> 4. Get a Page Access Token</h6><br>

   <p>Stick your Page Access Token below</p>

   <%= simple_form_for(@bot) do |f| %>
   <%= f.error_notification %>

   <%= f.input :page_access_token %>
   <%= f.button :submit, :class => 'btn btn-primary' %>
   <% end %>

   <h6> 5. Facebook Approval</h6><br>
   <p>If you connect your bot through your own Facebook App, you will have to wait for Facebook to review your chat bot, which usually should not take longer than a day.</p>
 </div>
</div>
