<div class="col-md-6">
  <div class="card-edit" >
    <%= image_tag "robot.png" %>
    <div class="card-description-edit">
      <h2><%= @bot.name.capitalize %></h2>
      <p>Address : <%= @bot.street %></p>
      <p>City : <%= @bot.city %></p>
      <p>Shop : <%= @bot.shop_name %></p>
      <p>Token : <%= @bot.token %></p>
    </div>
  </div>
</div>
<div class="col-md-5 info-form">
 <h6> Edit info</h6>
 <%= simple_form_for(@bot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_area :name,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :street,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :city,  id: 'text_area_small' %>
  </div>

  <div class="form-inputs">
    <%= f.text_area :shop_name,  id: 'text_area_small' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>

</div>






<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=<%=ENV['GOOGLE_AUTOCOMPLETE_API']%>"></script>
<% end %>
