<div class="col-md-6">
  <div class="card-edit" >
    <%= image_tag "robot.png" %>
    <div class="card-description-edit">
      <h2><%= @bot.name.capitalize %></h2>
      <p><%= @bot.shop_name %></p>
      <p><%= @bot.street %></p>
      <p><%= @bot.city %></p>

    </div>
  </div>
</div>
<div class="col-md-4 info-form">
<%= render 'form', bot: @bot %>
</div>






