
  <h2>Add Intent</h2>


  <div class="col-md-4  intent-card">
    <h3>Opening Hours</h3>
    <%= simple_form_for [@bot, @pattern] do |f| %>
    <%= f.error_notification %>
    <% f.input :trigger, input_html: { disabled: true, value: 'wit_opening_times' } %>
    <%= f.text_area :answer, value: @opening_and_closing, id: 'text_area' %>
    <%= f.submit "Add", :class => 'btn btn-primary', id: 'add_intent' %>
    <% end %>
  </div>


  <div class="col-md-4  intent-card">
    <h3>Telephone </h3>
    <%= simple_form_for [@bot, @pattern] do |f| %>
    <%= f.error_notification %>
    <% f.input :trigger, input_html: { disabled: true, value: 'wit_website_path' } %>
    <%= f.text_area :answer, value: @telephone, id: 'text_area' %>
    <%= f.submit "Add", :class => 'btn btn-primary', id: 'add_intent' %>
    <% end %>
  </div>


  <div class="col-md-4  intent-card">
    <h3>Website </h3>
    <%= simple_form_for [@bot, @pattern] do |f| %>
    <%= f.error_notification %>
    <% f.input :trigger, input_html: { disabled: true, value: 'wit_website_path' } %>
    <%= f.text_area :answer, value: @website, id: 'text_area' %>
    <%= f.submit "Add", :class => 'btn btn-primary', id: 'add_intent' %>
    <% end %>
  </div>


</div>

