<div class="col-md-6 card-pattern ">
      <h6>Your orders</h6>
      <div class="orders">
        <% @orders.each do |order| %>
        <div class="order-card">
          <div class="flex-item">
            <p><%= order.product %></p>
          </div>
          <div class="flex-item">
            <p><%= order.address %></p>
          </div>
          <div class="flex-item">
            <p><%=order.created_at.strftime("%T") %></p>
          </div>
          <div class="flex-item">
            <p><%= link_to order.status, edit_bot_order_path(@bot, order) %></p>
          </div>
        </div>
      <% end %>
      </div>
 </div>

 <div class="col-md-6 card-pattern scroll grey-background">
      <h6>Add a product</h6>
      <%= render 'products/form' %>
        <h6>Product List</h6>
        <div class="scroll-small">
          <% @bot.products.each do |product| %>
            <div class="pattern-card">
              <%= image_tag product.photo, height: '100', width: '100' %> <br>
              <p><b><%= product.name %></b></p> <br>
              <p><%= product.description %></p> <br>
              <p><%= product.price %>€</p> <br>
              <%= link_to bot_product_path(@bot, product), :method => "delete" do %>
              <p>Delete</p>
              <% end %>
              <p>|</p>
              <%= link_to edit_bot_product_path(@bot, product) do %>
                <p>Edit</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>



