<div class="col-md-6 card-pattern">
 <h2>Patterns</h2>
 <div class="scroll-small">
  <% @bot.patterns.each do |pattern| %>
  <div class="pattern-card">
    <h1> <b>If user says</b> : <%= pattern.trigger %></h1>
    <h1><b>Bot answers </b>: <%= pattern.answer %></h1>
    <%= link_to bot_pattern_path(@bot, pattern), :method => "delete" do %>
    <p>Delete</p>
    <% end %>
    <p>|</p>
    <%= link_to edit_bot_pattern_path(@bot, pattern) do %>
    <p>Edit<p>
     <% end %>
   </div>
   <% end %>
 </div>
</div>

<div class="col-md-5 card-add-pattern">
 <h2>Add Pattern</h2>
   <%= simple_form_for [@bot, @pattern] do |f| %>
   <%= f.error_notification %>
   <%= f.input :trigger, :label => "If user says ..." %>
   <%= f.input :answer, :label => "Bot answers ..." %>
   <%= f.button :submit, :class =>'btn btn-primary' %>
 <% end %>
</div>



