
<div class="row">
  <div class="col-md-4 col-md-offset-4 ">

    <h1>Editing Bot</h1>

    <div class="grey-card">
      <%= render 'form', bot: @bot %>
      <%= link_to 'Show', @bot %> |
      <%= link_to 'Back', bots_path %>
    </div>
    <br>
    <%= simple_form_for [@bot, @pattern] do
      |f| %>

      <%= f.error_notification %>
      <%= f.input :trigger %>
      <%= f.input :answer %>
      <%= f.button :submit %>
      <% end %>


      <h2>Patterns</h2>
      <% @bot.patterns.each do |pattern| %>
      <div class="pattern-card">
        <p><%= pattern.trigger %></p>
        <p><%= pattern.answer %></p>


        <%= link_to bot_pattern_path(@bot), method: :delete do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>

        <%= link_to edit_bot_pattern_path(@bot, pattern) do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <% end %>
        </div>

        <% end %>


    </div>
  </div>
