

<div class="container padded">
  <div class="row">

    <div class="col-md-4 ">

      <h2>Bot Infos</h2>

      <a class="grey-card" href="#" ></a>
        <%= render 'form', bot: @bot %>
        <%= link_to 'Bot History ', bot_histories_path(@bot), class:" btn btn-success"  %>
      </div>


    <div class="col-md-4 ">

     <h2>Add Patern</h2>
      <%= simple_form_for [@bot, @pattern] do |f| %>

        <%= f.error_notification %>
        <%= f.input :trigger %>
        <%= f.input :answer %>
        <%= f.button :submit %>
        <% end %>

    <h2>Add Intent</h2>
      <%= simple_form_for [@bot, @pattern] do |f| %>

        <%= f.error_notification %>
        <%= f.input :trigger, input_html: { disabled: true, value: 'wit_opening_times' } %>
        <%= f.text_area(:answer, value: @opening_and_closing)%>
        <%= f.button :submit %>
        <% end %>
      </div>

      <div class="col-md-4 ">
        <h2>Paterns</h2>
        <div class="scroll-small">
        <% @bot.patterns.each do |pattern| %>
        <div class="pattern-card">
          <p><%= pattern.trigger %></p>
          <p><%= pattern.answer %></p>

          <%= link_to bot_pattern_path(@bot, pattern), :method => "delete" do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>

          <%= link_to edit_bot_pattern_path(@bot, pattern) do %>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
        </div>

        <% end %>
        </div>
      </div>

    </div>

<div class="col-md-4 ">

      <h2>Set Up Tutorial </h2>

      <div class="grey-card">
        <%= link_to 'See our Set up Tutorial', guide_bot_path(@bot), class:" btn btn-primary"  %>
      </div>
    </div>


</div>
  </div>

