<div class="container">
<div class="row padded">
    <div class="col-md-4 col-md-offset-4">


<h1>Guide</h1>

<%= simple_form_for(@bot) do |f| %>
  <%= f.error_notification %>

  <%= f.input :page_access_token %>
  <%= f.button :submit %>
<% end %>

<p>http://localhost:3000/bots/<%= @bot.id %>/webhook</p>
<p><%= @bot.token %></p>



    </div>
  </div>
</div>


