
<div class="container">

 <h6> Your Chatbots</h6>
 <br><br>
  <div class="row">

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <%= link_to new_bot_path do %>
        <div class="card-description ">
        <h6>Add a bot</h6>
        </div>
        <h4> + </h4>
        <% end %>
      </div>
    </div>

    <% @bots.each do |bot| %>
      <% if bot.user == current_user || current_user.admin %>
      <div class="col-md-4 col-sm-12">
          <div class="card" >
              <%= image_tag "robot.png" %>
              <div class="card-category"><%= link_to bot_path(bot), method: "delete", data: { confirm: 'Are you sure?' } do %>
               <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
               <% end %></div>
               <div class="card-description">
                <h2><%= bot.name.capitalize %></h2>

                 <%= link_to edit_bot_path(bot) do %>
                 <p>Edit</p>
                  <% end %>
                 <p>|</p>
                 <%= link_to bot_path(bot), method: "delete", data: { confirm: 'Are you sure?' } do %>
                  <p>Delete<p>
                 <% end %>
                </div>

                <%= check_box_tag "toggle_bot_#{bot.id}", nil, bot.enable, class: 'toggle-bot', 'data-bot' => toggle_bot_path(bot, format: :json), 'data-toggle' => 'toggle' %>
            <%= link_to edit_bot_path(bot), class: 'card-link' do %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>





<% content_for :js do %>
<script>
  $(function() {
    $('.toggle-bot').change(function() {
      var toggle = $(this)
      var state  = toggle.prop('checked');
      var bot_url = toggle.data('bot');

      $.ajax({
        url: bot_url,
        method: 'PATCH',
        data: { state: state },
      }).done(function(msg) {
        console.log(msg);
      });
    })
  })
</script>

<% end %>








