<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bot.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @bot.token %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @bot.enable %>
</p>

<%= link_to 'Edit', edit_bot_path(@bot) %> |
<%= link_to 'Back', bots_path %>


<%= link_to 'Facebook Tutorial', guide_bot_path(@bot), class:" btn btn-primary"  %>
