<p id="notice"><%= notice %></p>

<p>
  <strong>Trigger:</strong>
  <%= @pattern.trigger %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @pattern.answer %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
